@{
    ViewData["Title"] = "Systéme de gestion clients";
}

<div class="text-center">
    <h1 class="display-4">Systéme de gestion clients</h1>
    <h3>Aller à <a asp-action="Clients">Clients</a></h3>
</div>
